
section.page,
section.posts-page,
section.post-page,
section#contracts_page {
    padding-top: 7rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
    font-family: $font-titles;
}

blockquote {
    padding: 13.5px 27px;
    margin: 0 0 27px;
    font-size: 18px;
    border-left: 5px solid $primary;
}

blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child {
    margin-bottom: 0;
}

a {
	transition: all .35s;
}

.bg-general {
    background-image: url("../assets/img/bg.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    h1, .h1 {
        font-size: 2rem;
    }
}