.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.navbar-brand {
    font-family: Lato;
    font-weight: bolder;
}

.navbar-brand img {
    height: 70px;
    padding: 0;
}

.line{
    border-bottom: 2px solid;
    border-color: $primary;
}

.bg-light-navbar {
    background: $beige !important;
}

.bg-transparent {
    background: transparent !important;
}

.nav-link {
    font-weight: bold;
    font-size: 1.1rem;
}

.navbar-collapse {
    padding: 0 10px;
}

@media (max-width: 767px) {
    .navbar-brand img {
        height: 50px;
    }
}