// This is the place to place Bootstrap's variables overrides.

// Color system

// stylelint-disable
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$red:              #dc3545 !default;
$green:            #10492a;
$light-green:      #136B05;
$dark-brown:       #554422;
$brown:            #bb7722;
$light-brown:      #aa9966;
$orange:           #ef7c2c;
$dark-orange:      #e46710;
$light-orange:     #f0936a;
$dark-yellow:      #ffbb00;
$yellow:           #ffce00;
$lighter-green:    #aaccaa;
$teal:             #11eeff;
$beige:            #f6f1e5;

$primary:       $yellow !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $brown !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;


//Home background image
//You need to change only the name and the type of your image
//For example:./img/your-image.png 
$bgHome : "./img/nuevapresajales.png";


// Links
//
// Style anchor elements.

$link-color:                $dark-orange !default;
$link-decoration:           none !default;
$link-hover-color:          darken($link-color, 5%) !default;
$link-hover-decoration:     underline !default;


// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            'Open Sans', sans-serif !default;
$font-titles:                 'Proza Libre', sans-serif;
// stylelint-enable value-keyword-case

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.25) !default;
$font-size-sm:                ($font-size-base * .875) !default;

// Preloader colors
$preloader-color1: $dark-orange;
$preloader-color2: $light-green;
$preloader-color3: $primary;