---
layout: default
---

<section class="home-content text-center">
  <img class="legend-home legend-home1" src="{{ site.baseurl }}/assets/img/leyenda.png" alt="Cortina contenedora de la nueva presa de jales">
  <img class="legend-home legend-home2" src="{{ site.baseurl }}/assets/img/leyenda-2.png" alt="Tepetateras de desechos sólidos">
  <img class="legend-home legend-home3" src="{{ site.baseurl }}/assets/img/leyenda-3.png" alt="Terreros de lixiviación">
  <img class="legend-home legend-home4" src="{{ site.baseurl }}/assets/img/leyenda-4.png" alt="Camino a Cananea">
  <div class="container d-flex flex-wrap h-100 align-items-center justify-content-center">
    <div class="row w-100">
      <div class="col-lg-12">
        {{ content }}
      </div>
    </div>
  </div>
</section>
